/*!
Theme Name: CodeU Template
Theme URI: http://underscores.me/
Author: DI Features Team
Author URI: http://dealerinspire.com
Description: Enough to get us started with CodeU
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: codeu-template
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

CodeU Template is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# CodeU Custom
--------------------------------------------------------------*/

.button {
	padding: 5px 25px;
	background: #333;
	border-radius: 15px;
	color: #fff;
	transition: all 0.3s ease;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;

	&.primary-button {
		background: $color__primary;
	}
	&.dark-primary-button {
		background: darken($color__primary, 20%);
		&:hover {
			background: #fff;
			color: $color__primary;
		}
	}
	&.secondary-button {
		background: $color__secondary;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}



header {
	.navbar {
		background: $color__primary;
		display: flex;
		justify-content: space-between;

		&__logo {
			img {
				max-width: 200px;
			}
		}
	}
}

main {
	margin-top: 50px;
}


/** Front Page Sections **/
.section-title {
	color: $color__primary;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-bottom: 30px;
}


#hero {
	padding: 100px 0;
	text-align: center;
	color: #fff;

	background-size: cover;
	background-position: center;

	h1 {
		text-transform: uppercase;
		font-size: 60px;
		font-weight: 700;
		@media(max-width: 767px) {
			background: red;
		}
	}

	@media(max-width: 767px) {
		padding: 50px 0;
		h1 {
			font-size: 30px;
		}
	}
}

.movie-row {
	padding: 50px 0;
	font-size: 14px;
	a, a:visited, a:active {
		color: $color__primary;
		font-weight: 700;
	}
	h4 {
		font-size: 14px;
		font-weight: 700;
		margin: 10px 0;
	}
	.movie-rating {
		font-weight: 700;
		color: #888;
	}
	.tag {
		background: #eee;
		font-size: 10px;
		border-radius: 15px;
		padding: 3px 5px;
		font-weight: 700;
		margin-right: 5px;
		color: #888;
	}
	.movie-link {
		margin-top: 15px;
	}
}